@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../image/Ellipse_16.svg"), url("../image/Vector 1.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 28%, right bottom;
}

button{
    background-color: #4945FF;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 5px !important;
    padding: 1.5vh;
    cursor: pointer;
}

a#btn-map{
    display: flex;
    justify-content: center;
    background-color: #4945FF !important;
    color: #FFFFFF !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 5px !important;
    padding: 1.5vh;
    cursor: pointer;
    text-decoration: none;
}

.header-container a{
    margin-top: 35px !important;
    margin-left: 225px;
}



img{
    height: 75px;
    margin-bottom: 10px;
}

h1.title{
    font-size: 64px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
}

#titleCenter{
    text-align: center;
    margin-top: 10px;
}

h2{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px !important;
    font-weight: bold !important;
    color: #000000;
}

h3.title-under{
    color: #9B9B9B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#btn-title{
    margin-top: 20px;
    margin-left: 250px;
}

p.description-obj{
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formGroup{
    display: flex;
    flex-direction: column;
}

input[type="submit"]{
    margin-top: 20px;
}

input[type="text"]{
    font-family: 'Cabin', sans-serif;
    color: #262626;
}

.header-element{
    display: flex;
    height: 65vh;
    padding: 75px 75px 10px 75px ;
    background-image: url("../image/Ellipse_18.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
}

.header-container{
    width: 100%;
    background-image: url("../image/illustration_homepage 1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.description{
    max-width: 500px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    color: #000000;
    font-weight: 300;
    margin-top: 20px;
}

.stats-content{
    background-color: #EDEDED;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature-content{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.card-content{
    display: flex;
    justify-content: space-evenly;
}

.number{
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}

.separate{
    margin-top: 10px;
    width: 60px;
    border: 3px solid #4945FF;
    background-color: #4945FF;
}


.card-stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card-feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    margin-top: 10px;
    font-family: 'Cabin', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    max-width: 220px;
    text-align: center;
}

.card-stat img{
    height: 50px;
}

.card-stat p{
    font-family: 'Cabin', sans-serif;
    font-size:18px;
    margin: 0;
    max-width: 300px;
    text-align: center;
}

.stats-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.objectif-container{
    z-index: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
    height: 60vh;
    width: 95%;
    padding: 20px;
    border: 1px solid #EAEBED ;
    border-radius: 10px;
}

.objectif-container span{
    font-weight: bold;
}

#obj{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
}

#btn-map{
    width: 20vh;
    margin-top: 20px;
}

#illustration-obj{
    height: 350px;
}

.reseau-sociaux{
    margin-top: 50px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-sociaux{
    display: flex;
    justify-content: center;
}

i{
    font-size: 40px;
    margin: 1vh;
    color: #4945FF;
}

.controller-container{
    margin-top: 25px;
    display: flex;
    padding: 25px;
    width: 125vh;
    border: 1px solid #EAEBED;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
}

.incident-list{
    margin-top: 30px;
    background-color: #FFFFFF;
}

.controller-container #btn-map{
    margin-top: 0;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}

h5{
    font-family: 'Montserrat', sans-serif ;
    font-size: 20px;
    font-weight: bold !important;
    margin-bottom: 25px !important;
}

.container-table{
    margin-top: 20px;
    padding: 35px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid #EAEBED;
    background-color: #FFFFFF;
    margin-bottom: 55px;
}

.info-table{
    margin: 0 !important;
    display: flex;
    width: 100%;
}

#map-div{
    margin-top: 25px;
    width: 85%;
    height: 65vh;
    background: none !important;
}
.all-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-map{
    display: flex;
    width: 125vh;
    justify-content: space-between;
}

.signupText{
    color: blue !important;
    cursor: pointer;
}

/* MAP */


.container-legende{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-legend{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.square{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

#title-ita{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
}

.formGroup{
    margin-top: 15px;
}

.info-container span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.card-legend span{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.info-table{
    margin-top: 25px;
}
table
 {
    border: 1px solid #333;
    border-radius: 10px;
}


.modal-content h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

#geoInfo{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.controller-container > form > button{
    width: 100%;

}

.controller-container > form{
    margin: 0;
}

table, th, td, tr{
    font-family: 'Cabin', sans-serif !important;
    text-align: center;
}

th{
    font-weight: bold !important;
}

#btn-geo{
    margin-top: 10px;
    width: 33%;
}

.toGreen{
    background-color: #11E66D !important;
    transition: background-color 1s ease;
}

.modal-content h3.biggerTitle{
    font-size: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.modal-content form{
    width: 75%;
}

.inscription{
    font-family: 'Cabin', sans-serif;
    margin-bottom: 10px;
}

.inscription a{
    color: #4945FF;
    font-family: 'Cabin', sans-serif;
}

.centered{
    align-items: center;
}
.squareRow{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.groupInput{
    display: flex;
    flex-direction: column;
}

.groupInput input{
    min-width: 250px;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #262626;
}
select, textarea{
    border-radius: 3px;
    border: 1px solid #262626;
    font-family: 'Cabin', sans-serif;
    color: #262626;
    font-size: 16px;
}

select{
    height: 40px;
}

.controlButton{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button[type="submit"]{
    width: 33%;
}

.title-form{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.groupRad{
    display: flex;
    align-items: center;
}

.groupRad label{
    margin-bottom: 0 !important;
    margin-left: 10px;
}
.marqueur{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.trait{
    border: 1px solid #EAEBED;
    background-color: #EAEBED;
    width: 110px;
}

#indic{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #999999;
    max-width: 75%;
    margin-top: 5px;
}
/* MAP */
.leaflet-pane .leaflet-shadow-pane {
    display: none;
}

/* /MAP */